{% extends 'men/base.html' %}

{% block content %}

<section id="about" class="about" style="margin-top: 50px;">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://auto.bigmir.net/i/58/99/44/4/5899444/image_main/7b0934872c80c6e357e8cda674ab847d-quality_75Xresize_crop_1Xallow_enlarge_0Xw_740Xh_400.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Біз Алматы қаласы бойынша мопед немесе мотоцикл жалға беретін компаниямыз</h3>
            <p class="fst-italic">
              </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Жалға алу уақыты мен бағалары</li>
              <table class="table table-bordered border-primary">
                <table class="table">
  <thead>
    <tr>
      <th scope="col">Жалға алу уақыты</th>
      <th scope="col">Бағасы теңгемен</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>1 сағат</td>
      <td>1000</td>
    </tr>
    <tr>
      <td>12 сағат</td>
      <td>6000</td>
    </tr>
  <tr>
      <td>1 тәулік</td>
      <td>10000</td>
    </tr>
  <tr>
      <td>1 апта</td>
      <td>20000</td>
    </tr>
  <tr>
      <td>1 ай</td>
      <td>40000</td>
    </tr>
  </tbody>
</table>
</table>
              <li><i class="ri-check-double-line"></i> Біздің сайт арқылы алдын ала таңдалған мопедке  брондап  қойып,келісілген уақтты алып кетуге болады</li>
               </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("https://img03.obyava.ua/classified/0/1647/7038/200-27mbtjcipjkxha0a.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Біздің компанияның артықшылықтары</h4>
              <p>Әрқвшвн сенімді</p>
               <p> Баға сәйкестігіне кепілдік</p>
                <p>Онлайн брондау басқару</p>
                <p>Тегін бас тарту және өзгертулер</p>
                <p>24/7 тұтынушыларды қолдау</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/static/men/images/doni.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Қайықбай Данияр</h4>
                <span>Директор</span>
              </div>
            </div>
          </div>





          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/static/men/images/baxa.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Турсынкул Бақдаулет</h4>
                <span>Директор</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
{% endblock %}