{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'men/css/style.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>

{% block mainmenu %}
 <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between " style="background-color:#CEA764;">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">MIR<span>-</span>MOTO</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          {% for m in menu %}
            {% if not forloop.last %}
                  <li><a class="nav-link scrollto" href="{% url  m.url_name %}">{{m.title}}</a></li>
            {% else %}

                   <li><a class="nav-link scrollto" href="{% url  m.url_name %}">{{m.title}}</a></li>

            {% endif %}

            {% endfor %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
          {% for f in regis %}

                   <a href="{% url f.url_name %} " class="get-started-btn scrollto">{{f.title}}</a>

            {% endfor %}


    </div>
  </header><!-- End Header -->

{% endblock mainmenu %}

{% block content %}

{% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static  'men/js/for.js' %} "></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</html>