{% extends 'men/base.html' %}
{% load men_tags  %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center" style="background: url('/static/men/images/img.png') top center;">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Мото әлемге қош келдің!!!<span>.</span></h1>
          <h2>Біздің қызметпен рахатқа бөлен.</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Барлығы</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="{% url 'renting' %}">Жалға</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="{% url 'satu' %}">Сатылатын</a></h3>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Мопедтер мен мотоциклдер</h2>
          <p>Мопедтер мен мотоциклдер</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
<!--            {% getcats filter=1 %}-->

            <ul id="portfolio-flters">
              {% if cat_selected == 0 %}
                        <li data-filter="*" class="filter">Барлығы</li>
              {% else  %}
                       <a href="{% url 'home' %}#portfolio"> <li data-filter="*" class="filter">Барлығы</li></a>
              {% endif %}
             {% show_categories  %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          {% for i in posts %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ i.photo.url }}" class="img-fluid" alt="" style="height:400px;">
              <div class="portfolio-info">
                <h4>{{ i.title }}</h4>
                <p>{{ i.content }}</p>
                <p>{{ i.content1 }}</p>
                <p>{{ i.content2 }}</p>
                <li><a class="nav na" href="{{ i.get_absolute_url }}">Толығырақ</a><a class="nav na" href="#hero">Сатып алу</a></li>

                <div class="portfolio-links">
                  <a href=" {{ i.photo}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}



        </div>
     </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Counts Section ======= -->

    <!-- ======= Testimonials Section ======= -->

    <!-- ======= Team Section ======= -->
<!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>


        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


{% endblock %}